.page-enter {
    transform: translateX(100%);
    opacity: 0;
}
.page-enter-active {
    transform: translateX(0%);
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
}
.page-exit {
    transform: translateX(0%);
    opacity: 1;
}
.page-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
}
